<footer class="footer">
  <div class="container">
    <div class="row">
      <span class="pull-left"><h5><%= link_to "Admin", new_user_session_path %></h5></span>
      <span class="pull-right"><p class="text-muted inc">&copy; 2017 DevPupil</p></span>
    </div>
  </div>
</footer>
