@import "bootstrap-sprockets";
@import "bootstrap";

$white:                           #ffffff;
$black:                           #000000;
$dark:                            #47535b;
$medium:                          #7a8b8e;
$light:                           #9a9da4;
$primary:                         #007ee5;
$border:                          #e8e8e8;
$background:                      #f6f9fb;

/* General */
body {
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.5;
  background-color: $white;
  color: $dark !important;
}

h1 {
  font-size: 1.8em;
  font-weight: 800;
}

h2 {
  font-size: 1.5em;
  font-weight: 800;
}

h3 {
  font-size: 1.1em;
  font-weight: 300 !important;
}

h4 {
  font-weight: bold;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#my-video {
  margin-top: 15px;
  width: 280px;
  height: auto;
  background-color: #eee;
}

#second-video {
  width: 100%;
  height: 75%;
  max-height: 480px;
  background-color: #eee;
}

#video-container {
  text-align: center;
}

#step1-error, #step2, #step3 {
  display: none;
  border-top: 2px solid $border;
  border-bottom: 2px solid $border;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-top: 15px;
}

.form-inline {
  width: 90%;
  display: inline-block;
}

#my-id {
  font-weight: bold;
}

a {
  font-size: .85em;
}

.hidden {
  display: none;
}

.or {
  display:flex;
  justify-content:center;
  align-items: center;
  color: $primary;
}

.or:after,
.or:before {
  content: "";
  display: block;
  background: $black;
  width: 10%;
  height:1px;
  margin: 0 10px;
}

.about li {
  list-style: none;
  margin-left: -20px;
}


/* Typed */
#typed {
  color: $primary;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  display: inline;
}

.typed-cursor{
    opacity: 1;
    font-size: 30px;
    font-weight: 800;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/* Alerts */
.alert {
  border-radius: 0px;
}

.alert {
  text-align: center;
  margin-bottom: 0px;
  list-style: none;
  border: none;
}

.alert.devise{
  text-align: center;
  margin-bottom: 20px;
  list-style: none;
  border: 2px solid $primary;
  border-radius: 3px;
}


/* Buttons */
.btn.btn-new {
  border: 2px solid $primary;
  border-radius: 3px;
  background-color: $primary !important;
  color: $white;
  padding: 10px 25px 10px 25px;
}

.btn.btn-new:hover {
  background: $primary;
  opacity:  0.9;
  color: $white;
}

.btn.btn-mentor {
  border: 2px solid $border;
  border-radius: 3px;
  background-color: $white !important;
  color: $dark;
  padding: 10px 25px 10px 25px;
}

.btn.btn-mentor:hover {
  background: $white;
  color: $dark;
  border-color: $border !important;
}

.btn.btn-chat {
  border: 1px solid $primary;
  height: 2.7em;
  border-radius: 3px;
  background-color: $primary !important;
  color: $white;
  padding: 10px 25px 10px 25px;
}

.btn.btn-chat:hover {
  background: $primary;
  opacity:  0.9;
  color: $white;
}

.btn.btn-facebook {
  outline: none;
  background: $primary;
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 3em;
  text-align: center;
  font-size: 1.1em;
  color: $white;
  text-decoration: none;
  padding: 1em 2em;
}

.btn.btn-facebook:hover {
  background: $primary;
  opacity:  0.9;
  color: $white;
}


/* Navigation */
.navbar {
  background-color: $white;
  border: none;
  border-bottom: 1px solid $border;
  border-radius: 0px;
  padding-top: 5px;
}

.navbar li {
  font-size: 13px;
  color: $white;
}

.navbar-brand {
  font-size: 2em;
  font-weight: 800;
  color: $dark !important;
}

.navbar-default {
  background-color: $white !important;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid $border;
}

.navbar a{
  font-size: 1em !important;
}

.dropdown-menu > li > a:hover {
  background-color: $white;
  background-image: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $black;
}

.navbar-default .navbar-toggle {
  border-radius: 0px;
  border: none;
} 

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: $white;
}

.navbar .navbar-nav > li.open > a:hover,
.navbar .navbar-nav > li.open > a:focus,
.navbar .navbar-nav > li.open > a:active {
  background-color: $white;
}


/* Container */
.container {
  width: 95%;
}

.container.content {
  min-height: 740px;
  padding-top: 150px;
}

.code {
  min-height: 900px;
  padding-top: 100px;
}

.container.profile {
  min-height: 740px;
  padding-top: 80px;
}


/* Footer */

.footer {
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.9em;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-top: 1px solid $border;
  background-color: $background;
}

.footer li {
  list-style: none;
  padding-bottom: 5px;
  font-weight: 300;
}

.text-muted.pull-left {
  margin-left: -25px;
}

.inc {
  margin-top: 5px;
}


/* Panel */
.panel {
  margin: 0px auto;
  border-radius: 0px;
  padding: 0px;
  border-radius: 3px;
  box-shadow: none;
}

.panel.user {
  border: 2px solid $border;
  border-radius: 3px;
  padding: 0px;
  max-width: 400px;
  box-shadow: none;
}

.panel h4 {
  font-weight: 400;
}

.panel-heading {
  background-color: $white;
  border-bottom: 2px solid $border;
  height: 40px;
}

.pull-right h6 {
  display: inline;
}

.panel.show {
  margin: 30px auto;
  padding: 0px;
  
  .panel-heading {
    background-color: $white;
    border-bottom: 4px solid $border;
    height: 40px;
  }
}

.post.content {
  padding: 1em 3em 3em 3em;
}

.user-info {
  text-align: left;
}

.visible-xs.visible-sm {
  text-align: center;
}


/* Separator */
.or {
  display:flex;
  justify-content:center;
  align-items: center;
  color:grey;
}

.or:after,
.or:before {
    content: "";
    display: block;
    background: $border;
    width: 50%;
    height:1px;
    margin: 0 10px;
}


/* Images */
.image {
  margin-bottom: 50px;
}

.img.feature {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.round-image-50 {
  background-color: white;
  border: 1px solid $border;

  height: 50px;
  width: 50px;
  overflow: hidden;
  img { width: 100% }
}

.round-image-40 {
  background-color: white;
  border: 1px solid $border;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  img { width: 100% }
}

.image-60 {
  height: 60px !important;
  width: 60px !important;
  margin-right: 20px;
  img { width: 100% }
}
 
.index {
  padding-top: 20px;
}


/* List Group */
.list-group-item {
  min-height: 100px;
  padding-top: 0px;
  max-width: 400px;
}


/* Section */
.section.header {
  padding-top: 150px;
  padding-left: 4em;
  padding-right: 4em;
  margin-top: -20px auto;
  padding-bottom: 150px;
  background-color: $white;
}

.section.header p {
  font-size: 16px;
}

.section.features {
  padding-top: 100px;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 60px;
  min-height: 500px;
  margin-top: -20px;
  color: $dark !important; 
  background-color: $white;
  border-top: 1px solid $border;
}

.benefits {
  padding-top: 150px;
}

.why {
  border-top: 1px solid $border;
  padding-top: 100px;
  margin: 20px auto;
  padding-bottom: 100px;
}

.highlight {
  padding-bottom: 25px;
}

.collab {
  padding-top: 25px;
}

.headline {
  padding-top: 100px;
  margin-bottom: -45px;
}

.banner {
  max-width: 600px;
  text-align: center;
  float: none;
}


/* Jumbotron */
.jumbotron {
  background-color: $white;
  border: 1px solid $border;
  border-radius: 3px !important;
}

  
.jumbotron h4 {
  font-weight: 600;
  text-align: center;
}
  
.jumbotron p {
  font-size: 1em;
  font-weight: 500;
  text-align: center;
}


/* Mentor */
.demo {
  margin-bottom: 20px;
}


/* Dropdown */



/* Input */
input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%;
  max-width: 100%;
  height: 3em;
  border: 2px solid $border;
  border-radius: 3px !important;
  padding: 0.5em;
  box-shadow: none;
  font-size: 0.95em;
  letter-spacing: 0.5px;
}

textarea {
	min-height: 10em;
}

input[type="submit"], .button {
  outline: none;
  background: $primary;
  border: 2px solid $primary;
  border-radius: 3px;
  width: auto;
  height: 3em;
  text-align: center;
  font-size: 1.1em;
  color: $white;
  text-decoration: none;
  padding: 1em 2em;
  &:hover {
      border: 2px solid $primary;
      background: $primary;
      color: $white;
  }
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, select:focus {
  border: 2px solid $black;
  box-shadow: none;
  outline: 0 none;
  background-color: $white;
}

label {
  color: $dark;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 10px;
}

select {
  width: 100%;
  max-width: 100%;
  height: 3em;
  border: 2px solid $border;
  border-radius: 3px !important;
  padding: 0.5em;
  box-shadow: none;
  font-size: 0.95em;
  letter-spacing: 0.5px;
  padding: 0.5em 0.5em;
  margin: .25em 0 .25em 0;
  background-color: $white;
  box-shadow: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}

.select:before {
  content: '\25bc';
  font-size: 1.2em;
  position: absolute;
  color: $medium;
  top: 40px;
  right: 30px;
  transform: scale(0.84, 0.42);
}

input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid $border;
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}

input[type="checkbox"]:checked:before {
  content: "\2713";
  position: absolute;
  font-size: 0.95em;
  text-align: center;
  width: 1.25em;
  color: $primary;
}

.input-group .form-control {
    margin: 0px !important;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
